<div class="container-fluid main-container">
    <header class="row-fluid media" id="header">
        {{ HTML::image('assets/img/ciencia-con-tecnologia.png', 'Vernier', array('class' => 'pull-left media-object', 'data-src' => "holder.js/133x58")); }}
    </header>
    <nav class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                <li><a href="acerca" ><i class="icon-info-sign"></i> Acerca</a></li>
                <li><a href="sensores-vernier"><i class="icon-circle-blank"></i> Sensores</a></li>
                <li><a href="contacto"><i class="icon-envelope"></i> Contacto</a></li>
            </ul>
        </div>
    </nav>
</div>