<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li {% if data['current_url'] == "" %}class="active"{% endif %}>
                <a href="/">
                    <i class="icon-home"></i> Inicio
                </a>
            </li>
            <li {% if 'acerca' == data['current_url'] %}class="active"{% endif %}>
                <a href="acerca" >
                    <i class="icon-info-sign"></i> Acerca
                </a>
            </li>
            <li {% if 'sensores-vernier' == data['current_url'] %}class="active"{% endif %}>
                <a href="sensores-vernier">
                    <i class="icon-circle-blank"></i> Sensores
                </a>
            </li>
            <li {% if 'contacto' == data['current_url'] %}class="active"{% endif %}>
                <a href="contacto">
                    <i class="icon-envelope"></i> Contacto
                </a>
            </li>
        </ul>
    </div>
</div>