<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../../assets/css/master.min.css"/>
</head>
<body>
    <div class="container-fluid main-container">
        {% include "shared/_header.twig" %}
        {% include "shared/_menu.twig" %}
        {% block content %}{% endblock %}
    </div>
<script type="text/javascript" src="../../assets/js/master.min.js"></script>
</body>
</html>