{% extends "layouts/master.twig" %}

{% block meta_seo %}
    <meta name="description" content="¿Buscando una manera dinamica para enseñar ciencias? Vernier ofrece registradores de datos, sensores, experimentos, software de graficación y análisis" />
    <link rel="canonical" href="http://brdidacticos.mx" />
    <meta property='og:locale' content='es_MX'/>
    <meta property='og:title' content='Productos Vernier - Puebla'/>
    <meta property='og:description' content='¿Buscando una manera dinamica para enseñar ciencias? Vernier ofrece registradores de datos, sensores, experimentos, software de graficación y análisis'/>
    <meta property='og:url' content='http://brdidacticos.mx'/>
    <meta property='og:site_name' content='Productos Vernier en Puebla'/>
    <meta property='og:type' content='article'/>
{% endblock %}

{% block title %}
    BRDidacticos
{% endblock %}

{% block content %}
<h1>Contenido</h1>


{% endblock %}